.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://i.pinimg.com/originals/28/69/e5/2869e5e246f6d3b8cc51c8b36b6ec24c.gif');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}